.plp-comp {
    .row {
        display: flex;
        justify-content: space-between;

        .col {
            border: 1px solid #ccc;
        }

        .product-name {
            padding: 20px;
            background: #333;
            color: #fff;
        }

        .product-detail {
            padding: 20px;
        }

        .plp-text {
            color: #f00;
        }
    }
}